<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

	{{ for cat in details: }}
		{{ if cat.Rented == False: }}
			{{ if not cat.Human == auth.user_id: }}
				{{=A('Rent me meow', _class='btn btn-primary', _href=URL('default', 'start_rental', args=[request.args(0)]))}}
			{{pass}}
		{{pass}}
	{{pass}}

{{=request.args(0)}}

{{=details}}
<br>


	<br><br>

</body>