<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body style="background: linear-gradient(#d1d1e0, #52527a)">
    {{=A('Back', _class='btn btn-primary', _href=URL('default', 'listings'))}}
<br><br>
<center>
<p style="font-size: 300%;">{{=row.Name}}</p><br>
<p style="font-size: 300%;">Bio:</p>
<p>{{=row.Bio}}</p>
<img src="{{=URL('default', 'download', args=row.Image)}}" height = 200 width = 200 />
<br><br>
{{=A('Go to Owners Page', _class='btn btn-primary', _href=URL('default', 'user_profile', args=[row.Human]))}}
<br>
{{ if row.Requester == auth.user_id: }}
    {{ if row.Requester != row.Human: }}
        <h3>Please contact owner to arrange rental</h3>
    {{pass}}
{{pass}}
<br>
{{ if row.Rented == False: }}
    {{ if not row.Human == auth.user_id: }}
        <br><br>
        {{if auth.user_id is not None:}}
            {{=A('Rent me meow', _class='btn btn-primary', _href=URL('default', 'start_rental', args=[request.args(0)]))}}
        {{pass}}
    {{else:}}
        <br><br>
        {{=A('Edit This Post', _class='btn btn-primary', _href=URL('default', 'cat_edit', args=[row.id]))}}
	{{pass}}
{{pass}}
<br>
<br>
</center>

</body>
