{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div id="target"></div>

<script id="template" type="text/ractive">
    <div class="sortBox">
        <p>{% breedSelected %} {% stateSelected %} {% ageSelected %} {% priceSelected %}</p>
        <select id = "breedSelect">
            <option value = "All Breeds">All Breeds</option>
            <option value = "Abyssinian">Abyssinian</option><option value = "American Bobtail">American Bobtail</option><option value = "American Curl">American Curl </option><option value = "American Shorthair">American Shorthair</option><option value = "American Wirehair">American Wirehair</option>
            <option value = "Balinese">Balinese</option><option value = "Bengal">Bengal</option><option value = "Birman">Birman</option><option value = "Bombay">Bombay</option><option value = "British Shorthair">British Shorthair</option>
            <option value = "Burmese">Burmese</option><option value = "Charteux">Charteux</option><option value = "Chausie">Chausie</option><option value = "Colorpoint">Colorpoint</option><option value = "Cornish Rex">Cornish Rex</option>
            <option value = "Cymric">Cymric</option><option value = "Devon Rex">Devon Rex</option><option value = "Egyptian Mau">Egyptian Mau</option><option value = "Exotic Shorthair">Exotic Shorthair</option><option value = "Havana Brown">Havana Brown</option>
            <option value = "Himalayan">Himalayan</option><option value = "Japanese Bobtail">Japanese Bobtail</option><option value = "Javanese">Javanese</option><option value = "Korat">Korat</option><option value = "LaPerm">LaPerm</option>
            <option value = "Maine Coon">Maine Coon</option><option value = "Manx">Manx</option><option value = "Munchkin">Munchkin</option><option value = "Nebelung">Nebelung</option><option value = "Norwegian Forrest">Norwegian Forrest</option>
            <option value = "Ocicat">Ocicat</option><option value = "Oriental Shorthair">Oriental Shorthair</option><option value = "Persian">Persian</option><option value = "Peterbald">Peterbald</option><option value = "Pixie-Bob">Pixie-Bob</option>
            <option value = "Ragamuffin">Ragamuffin</option><option value = "Ragdoll">Ragdoll</option><option value = "Russian Blue">Russian Blue</option><option value = "Savannah">Savannah</option><option value = "Scottish Fold">Scottish Fold</option>
            <option value = "Selkirk Rex">Selkirk Rex</option><option value = "Siamese">Siamese</option><option value = "Siberian">Siberian</option><option value = "Singapura">Singapura</option><option value = "Snowshoe">Snowshoe</option><option value = "Somali">Somali</option>
            <option value = "Sphynx">Sphynx</option><option value = "Tonkinese">Tonkinese</option><option value = "Toyger">Toyger</option><option value = "Turkish Angora">Turkish Angora</option><option value = "Turkish Van">Turkish Van</option>
        </select>
        <span>
        <select id = "stateSelect">
            <option value = "All States">All States</option>
            <option value = "AL">AL</option><option value = "AK">AK</option><option value = "AZ">AZ</option><option value = "AR">AR</option><option value = "CA">CA</option>
            <option value = "CO">CO</option><option value = "CT">CT</option><option value = "DE">DE</option><option value = "FL">FL</option><option value = "GA">GA</option>
            <option value = "HI">HI</option><option value = "ID">ID</option><option value = "IL">IL</option><option value = "IN">IN</option><option value = "IA">IA</option>
            <option value = "KS">KS</option><option value = "KY">KY</option><option value = "LA">LA</option><option value = "ME">ME</option><option value = "MD">MD</option>
            <option value = "MA">MA</option><option value = "MI">MI</option><option value = "MN">MN</option><option value = "MS">MS</option><option value = "MO">MO</option>
            <option value = "MT">MT</option><option value = "NE">NE</option><option value = "NV">NV</option><option value = "NH">NH</option><option value = "NJ">NJ</option>
            <option value = "NM">NM</option><option value = "NY">NY</option><option value = "NC">NC</option><option value = "ND">ND</option><option value = "OH">OH</option>
            <option value = "OK">OK</option><option value = "OR">OR</option><option value = "PA">PA</option><option value = "RI">RI</option><option value = "SC">SC</option>
            <option value = "SD">SD</option><option value = "TN">TN</option><option value = "TX">TX</option><option value = "UT">UT</option><option value = "VT">VT</option>
            <option value = "VA">VA</option><option value = "WA">WA</option><option value = "WV">WV</option><option value = "WI">WI</option><option value = "WY">WY</option>

        </select>
        <span>
        <select id = "ageSelect">
            <option value = "All Ages">All Ages</option>
            <option value = "less than 1">less than 1</option><option value = "1">1</option><option value = "2">2</option><option value = "3">3</option><option value = "4">4</option>
            <option value = "5">5</option><option value = "6">6</option><option value = "greater than 7">greater than 7</option>
        </select>
        <span>
        <select id = "priceSelect">
            <option value = "All Prices">All Prices</option>
            <option value = "0-25">0-25</option><option value = "25-50">25-50</option><option value = "50-75">50-75</option><option value = "75-100">75-100</option><option value = ">100">greater than 100</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Search" on-click="filterResults"/>

    </div>
    {% #if loggedIn === "True" %}
        <input class="btn btn-primary" type="submit" value="Create New Post"/>
    {% /if %}
    <div class="myListings">
        <table style="width:100%" frame = "box">
        <tr>
            <th>Title</th>
            <th>Breed</th>
            <th>Place</th>
            <th>Age</th>
            <th>Price</th>
            <th></th>
        </tr>
        {% #cat_dict:cat_id %}
            <tr>
                {% #if editable %}
                    <td bgcolor="white">
                        <p>{% Name %} <button data-iden="{% key %}"><i class="fa fa-pencil"></i></button></p>
                    </td>
                {% /if %}
                {% #if editable === false %}
                     <td bgcolor="white">
                        <p>{% Name %}</p>
                     </td>
                {% /if %}
                <td bgcolor="white">
                    <p>{% Breed %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Place %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Age %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Price %}</p>
                </td>
                <td bgcolor="white">
                    <a href="{% "posts" %}">View More details</a>
                </td>
            </tr>
        {% /cat_dict %}
        </table>
    </div>

</script>

<script>
$(function() {
    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            cat_dict: {},
            mytext: 'Enter Cat Name',
            loggedIn: "{{=loggedIn}}",
            user_id: "{{=user_id}}",
            oldCatName: "",
            editingKey: -1,
            stateSelected: "All States",
            breedSelected: "All Breeds",
            ageSelected: "All Ages",
            priceSelected: "All Prices",
        },
    });

    function periodic_receive() {
        $.ajax("{{=URL('default', 'load_cats', user_signature=True)}}",
                {
                    data:{
                        Breed: MAIN.get("breedSelected"),
                        Place: MAIN.get("stateSelected"),
                        Age: MAIN.get("ageSelected"),
                        Price: MAIN.get("priceSelected")
                    },
                    method: 'POST',
                    success: function (data) {
                        var oldRow = -1;
                        if (MAIN.get("editingKey") != -1) {
                            oldRow = MAIN.get("cat_dict")[MAIN.get("editingKey")];
                        }
                        var cat_dict = data['cat_dict'];
                        m = Object.keys(cat_dict).length;
                        var i;
                        for (var key in cat_dict) {
                            if (cat_dict[key]["Human"] == MAIN.get('user_id')) {
                                cat_dict[key]["editable"] = true;
                            }
                            else {
                                cat_dict[key]["editable"] = false;
                            }
                            cat_dict[key]["ident"] = cat_dict[key]["draft_id"];
                            cat_dict[key]["key"] = key;

                        }

                        MAIN.set('cat_dict', cat_dict);
                    }
                }
        );
    }
    periodic_receive();
    setInterval(periodic_receive, 10000);
    MAIN.on("filterResults", function(e) {
        MAIN.set("breedSelected",document.getElementById("breedSelect").value);
        MAIN.set("stateSelected",document.getElementById("stateSelect").value);
        MAIN.set("ageSelected",document.getElementById("ageSelect").value);
        MAIN.set("priceSelected",document.getElementById("priceSelect").value);
        periodic_receive();
    });

});

</script>