{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<body style="background: linear-gradient(#d1d1e0, #52527a)">
<div id="target"></div>

<script id="template" type="text/ractive">
    {{=A('Home Page', _class = 'btn btn-success',_href=URL('default', 'index'))}}

    <div class="sortBox">
        {% #if loggedIn === "True" %}
            <p>{% user_name %} is logged in
            {{=A('View your profile', _class = 'btn btn-primary',_href=URL('default', 'user_profile', args=[auth.user_id]))}}
            </p>
        {% else %}
            <p>No one is logged in
            {{=A('Log In', _class = 'btn btn-primary',_href=URL('default', 'user', args=['login']))}}
            {{=A('Sign up', _class = 'btn btn-primary',_href=URL('default', 'user', args=['register']))}}
            </p>
        {% /if %}
        <select id = "breedSelect">
            <option value = "All Breeds">All Breeds</option>
            <option value = "Abyssinian">Abyssinian</option><option value = "American Bobtail">American Bobtail</option><option value = "American Curl">American Curl </option><option value = "American Shorthair">American Shorthair</option><option value = "American Wirehair">American Wirehair</option>
            <option value = "Balinese">Balinese</option><option value = "Bengal">Bengal</option><option value = "Birman">Birman</option><option value = "Bombay">Bombay</option><option value = "British Shorthair">British Shorthair</option>
            <option value = "Burmese">Burmese</option><option value = "Charteux">Charteux</option><option value = "Chausie">Chausie</option><option value = "Colorpoint">Colorpoint</option><option value = "Cornish Rex">Cornish Rex</option>
            <option value = "Cymric">Cymric</option><option value = "Devon Rex">Devon Rex</option><option value = "Egyptian Mau">Egyptian Mau</option><option value = "Exotic Shorthair">Exotic Shorthair</option><option value = "Havana Brown">Havana Brown</option>
            <option value = "Himalayan">Himalayan</option><option value = "Japanese Bobtail">Japanese Bobtail</option><option value = "Javanese">Javanese</option><option value = "Korat">Korat</option><option value = "LaPerm">LaPerm</option>
            <option value = "Maine Coon">Maine Coon</option><option value = "Manx">Manx</option><option value = "Munchkin">Munchkin</option><option value = "Nebelung">Nebelung</option><option value = "Norwegian Forrest">Norwegian Forrest</option>
            <option value = "Ocicat">Ocicat</option><option value = "Oriental Shorthair">Oriental Shorthair</option><option value = "Persian">Persian</option><option value = "Peterbald">Peterbald</option><option value = "Pixie-Bob">Pixie-Bob</option>
            <option value = "Ragamuffin">Ragamuffin</option><option value = "Ragdoll">Ragdoll</option><option value = "Russian Blue">Russian Blue</option><option value = "Savannah">Savannah</option><option value = "Scottish Fold">Scottish Fold</option>
            <option value = "Selkirk Rex">Selkirk Rex</option><option value = "Siamese">Siamese</option><option value = "Siberian">Siberian</option><option value = "Singapura">Singapura</option><option value = "Snowshoe">Snowshoe</option><option value = "Somali">Somali</option>
            <option value = "Sphynx">Sphynx</option><option value = "Tonkinese">Tonkinese</option><option value = "Toyger">Toyger</option><option value = "Turkish Angora">Turkish Angora</option><option value = "Turkish Van">Turkish Van</option>
        </select>
        <span>
        <select id = "stateSelect">
            <option value = "All States">All States</option>
            <option value = "AL">AL</option><option value = "AK">AK</option><option value = "AZ">AZ</option><option value = "AR">AR</option><option value = "CA">CA</option>
            <option value = "CO">CO</option><option value = "CT">CT</option><option value = "DE">DE</option><option value = "FL">FL</option><option value = "GA">GA</option>
            <option value = "HI">HI</option><option value = "ID">ID</option><option value = "IL">IL</option><option value = "IN">IN</option><option value = "IA">IA</option>
            <option value = "KS">KS</option><option value = "KY">KY</option><option value = "LA">LA</option><option value = "ME">ME</option><option value = "MD">MD</option>
            <option value = "MA">MA</option><option value = "MI">MI</option><option value = "MN">MN</option><option value = "MS">MS</option><option value = "MO">MO</option>
            <option value = "MT">MT</option><option value = "NE">NE</option><option value = "NV">NV</option><option value = "NH">NH</option><option value = "NJ">NJ</option>
            <option value = "NM">NM</option><option value = "NY">NY</option><option value = "NC">NC</option><option value = "ND">ND</option><option value = "OH">OH</option>
            <option value = "OK">OK</option><option value = "OR">OR</option><option value = "PA">PA</option><option value = "RI">RI</option><option value = "SC">SC</option>
            <option value = "SD">SD</option><option value = "TN">TN</option><option value = "TX">TX</option><option value = "UT">UT</option><option value = "VT">VT</option>
            <option value = "VA">VA</option><option value = "WA">WA</option><option value = "WV">WV</option><option value = "WI">WI</option><option value = "WY">WY</option>

        </select>
        <span>
        <select id = "ageSelect">
            <option value = "All Ages">All Ages</option>
            <option value = "less than 1">less than 1</option><option value = "1">1</option><option value = "2">2</option><option value = "3">3</option><option value = "4">4</option>
            <option value = "5">5</option><option value = "6">6</option><option value = "greater than 7">greater than 7</option>
        </select>
        <span>
        <select id = "priceSelect">
            <option value = "All Prices">All Prices</option>
            <option value = "0-25">0-25</option><option value = "25-50">25-50</option><option value = "50-75">50-75</option><option value = "75-100">75-100</option><option value = ">100">greater than 100</option>
        </select>
        <input class="btn btn-info" type="submit" value="Search" on-click="filterResults"/>

    </div>
    {% #if loggedIn === "True" %}
        {{=A('Create New Listing!', _class = 'btn btn-primary',_href=URL('default', 'add_cat'))}}
    {% /if %}
    <p></p>
    <div class="myListings">
        <table style="width:100%" frame = "box">
        <tr>
            {% #if sortFrom == true %}
                {% #if fromDesc == true %}
                    <th style="text-align: center;">From <button class = "myButton" data-iden="fromAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if fromDesc == false %}
                    <th style="text-align: center;">From <button class = "myButton" data-iden="fromDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortFrom == false %}
                <th style="text-align: center;">From <button class = "myButton" data-iden="fromDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortName == true %}
                {% #if nameDesc == true %}
                    <th style="text-align: center;">Name <button class = "myButton" data-iden="nameAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if nameDesc == false %}
                    <th style="text-align: center;">Name <button class = "myButton" data-iden="nameDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortName == false %}
                <th style="text-align: center;">Name <button class = "myButton" data-iden="nameDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortBreed == true %}
                {% #if breedDesc == true %}
                    <th style="text-align: center;">Breed <button class = "myButton" data-iden="breedAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if breedDesc == false %}
                    <th style="text-align: center;">Breed <button class = "myButton" data-iden="breedDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortBreed == false %}
                <th style="text-align: center;">Breed <button class = "myButton" data-iden="breedDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortPlace == true %}
                {% #if placeDesc == true %}
                    <th style="text-align: center;">Place <button class = "myButton" data-iden="placeAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if placeDesc == false %}
                    <th style="text-align: center;">Place <button class = "myButton" data-iden="placeDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortPlace == false %}
                <th style="text-align: center;">Place <button class = "myButton" data-iden="placeDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortAge == true %}
                {% #if ageDesc == true %}
                    <th style="text-align: center;">Age <button class = "myButton" data-iden="ageAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if ageDesc == false %}
                    <th style="text-align: center;">Age <button class = "myButton" data-iden="ageDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortAge == false %}
                <th style="text-align: center;">Age <button class = "myButton" data-iden="ageDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortPrice == true %}
                {% #if priceDesc == true %}
                    <th style="text-align: center;">Price <button class = "myButton" data-iden="priceAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if priceDesc == false %}
                    <th style="text-align: center;">Price <button class = "myButton" data-iden="priceDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortPrice == false %}
                <th style="text-align: center;">Price <button class = "myButton" data-iden="priceDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            <th></th>
        </tr>
        {% #cat_List:cat_id %}
            <tr>
                <td bgcolor="white" style="text-align: center;">
                    <p>{% Created_On %} </p>
                    <p><img src="{{=URL('default', 'download')}}/{% Image %}" height="60" width="60"/></p>
                </td>
                <td bgcolor="white" style="text-align: center;">
                     <p>{% Name %}</p>
                </td>
                <td bgcolor="white" style="text-align: center;">
                    <p>{% Breed %}</p>
                </td>
                <td bgcolor="white" style="text-align: center;">
                    <p>{% Place %}</p>
                </td>
                <td bgcolor="white" style="text-align: center;">
                    <p>{% Age %}</p>
                </td>
                <td bgcolor="white" style="text-align: center;">
                    <p>{% Price %}</p>
                </td>
                {% #if editable %}
                    <td bgcolor="white" style="text-align: center;">
                        <a href="{% "cat_details" +"/" + loc %}">Cat Details!</a>
                            <a href="{{=URL('default', 'cat_edit')}}/{%loc%}"><i class="fa fa-pencil"></i></a>
                            <button data-iden="{% loc %}" on-click = "deleteListing"><i class="fa fa-trash-o"></i></button>
                    </td>
                {% else %}
                    <td bgcolor="white" style="text-align: center;">
                        <a href="{% "cat_details" +"/" + loc %}">Cat Details!</a>
                    </td>
                {% /if %}
            </tr>
        {% /cat_List %}
        </table>
        <br>
    </div>

</script>

<script>
$(function() {
    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            cat_List: [],
            mytext: 'Enter Cat Name',
            loggedIn: "{{=loggedIn}}",
            user_id: "{{=user_id}}",
            user_name:"{{=user_name}}",
            oldCatName: "",
            editingKey: -1,
            stateSelected: "All States",
            breedSelected: "All Breeds",
            ageSelected: "All Ages",
            priceSelected: "All Prices",
            sortFrom: true,
            fromDesc: true,
            sortName: false,
            nameDesc: false,
            sortBreed: false,
            breedDesc: false,
            sortPlace: false,
            placeDesc: false,
            sortAge: false,
            ageDesc: false,
            sortPrice: false,
            priceDesc: false
        },
    });

    function periodic_receive() {
        $.ajax("{{=URL('default', 'load_cats', user_signature=True)}}",
                {
                    data:{
                        Breed: MAIN.get("breedSelected"),
                        Place: MAIN.get("stateSelected"),
                        Age: MAIN.get("ageSelected"),
                        Price: MAIN.get("priceSelected")
                    },
                    method: 'POST',
                    success: function (data) {
                        var oldRow = -1;
                        if (MAIN.get("editingKey") != -1) {
                            oldRow = MAIN.get("cat_dict")[MAIN.get("editingKey")];
                        }
                        var cat_dict = data['cat_dict'];
                        cat_List = [];
                        for (var key in cat_dict) {
                            if (cat_dict[key]["Human"] == MAIN.get('user_id')) {
                                cat_dict[key]["editable"] = true;
                            }
                            else {
                                cat_dict[key]["editable"] = false;
                            }
                            cat_dict[key]["ident"] = cat_dict[key]["draft_id"];
                            cat_dict[key]["loc"] = key;
                            cat_List.push(cat_dict[key]);
                        }

                        if((MAIN.get("sortFrom")==true) && (MAIN.get("fromDesc")== true)) {
                            cat_List.reverse();
                        }
                        else if((MAIN.get("sortFrom")==true) && (MAIN.get("fromDesc")== false)) {

                        }
                        else if((MAIN.get("sortName")==true) && (MAIN.get("nameDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Name.toLowerCase() > b.Name.toLowerCase()) {
                                    return -1;
                                }
                                if (a.Name.toLowerCase() < b.Name.toLowerCase()) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortName")==true) && (MAIN.get("nameDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Name.toLowerCase() < b.Name.toLowerCase()) {
                                    return -1;
                                }
                                if (a.Name.toLowerCase() > b.Name.toLowerCase()) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortBreed")==true) && (MAIN.get("breedDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Breed > b.Breed) {
                                    return -1;
                                }
                                if (a.Breed < b.Breed) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortBreed")==true) && (MAIN.get("breedDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Breed < b.Breed) {
                                    return -1;
                                }
                                if (a.Breed > b.Breed) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPlace")==true) && (MAIN.get("placeDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Place > b.Place) {
                                    return -1;
                                }
                                if (a.Place < b.Place) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPlace")==true) && (MAIN.get("placeDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Place < b.Place) {
                                    return -1;
                                }
                                if (a.Place > b.Place) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortAge")==true) && (MAIN.get("ageDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if(a.Age == "less than 1"){
                                    return 1;
                                }
                                if(b.Age == "less than 1"){
                                    return -1;
                                }
                                if (a.Age > b.Age) {
                                    return -1;
                                }
                                if (a.Age < b.Age) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortAge")==true) && (MAIN.get("ageDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if(a.Age == "less than 1"){
                                    return -1;
                                }
                                if(b.Age == "less than 1"){
                                    return 1;
                                }
                                if (a.Age < b.Age) {
                                    return -1;
                                }
                                if (a.Age > b.Age) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPrice")==true) && (MAIN.get("priceDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Price > b.Price) {
                                    return -1;
                                }
                                if (a.Price < b.Price) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPrice")==true) && (MAIN.get("priceDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Price < b.Price) {
                                    return -1;
                                }
                                if (a.Price > b.Price) {
                                    return 1;
                                }
                                return 0;
                            });
                        }

                        MAIN.set('cat_List', cat_List);
                    }
                }
        );
    }
    function deleteCat(key) {
    $.ajax("{{=URL('default', 'deleteCat', user_signature=True)}}",
            {
              data: {
                key: key,
              },
              method: 'POST',
              success: function() {
                // Reflect in the list of drafts or messages the update sent to the server.
                  periodic_receive();
              },
              error: function() {
                  $.web2py.flash("cat deletion failure");
              }
            }
        );
    }
    periodic_receive();
    setInterval(periodic_receive, 10000);
    MAIN.on("filterResults", function(e) {
        MAIN.set("breedSelected",document.getElementById("breedSelect").value);
        MAIN.set("stateSelected",document.getElementById("stateSelect").value);
        MAIN.set("ageSelected",document.getElementById("ageSelect").value);
        MAIN.set("priceSelected",document.getElementById("priceSelect").value);
        periodic_receive();
    });
    MAIN.on("sortByHandle", function(e) {
        var sortType = $(e.node).data("iden");
        if(sortType == "fromAsc"){
            MAIN.set("fromDesc", false);
            periodic_receive();
        }
        else if(sortType == "fromDesc"){
            MAIN.set("sortFrom", true);
            MAIN.set("fromDesc", true);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortPlace", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "nameDesc"){
            MAIN.set("sortName", true);
            MAIN.set("nameDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortPlace", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "nameAsc"){
            MAIN.set("nameDesc", false);
            periodic_receive();
        }
        else if(sortType == "breedDesc"){
            MAIN.set("sortBreed", true);
            MAIN.set("breedDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortPlace", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "breedAsc"){
            MAIN.set("breedDesc", false);
            periodic_receive();
        }
        else if(sortType == "placeDesc"){
            MAIN.set("sortPlace", true);
            MAIN.set("placeDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "placeAsc"){
            MAIN.set("placeDesc", false);
            periodic_receive();
        }
        else if(sortType == "ageDesc"){
            MAIN.set("sortAge", true);
            MAIN.set("ageDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortPrice", false);
            MAIN.set("sortPlace", false);
            periodic_receive();
        }
        else if(sortType == "ageAsc"){
            MAIN.set("ageDesc", false);
            periodic_receive();
        }
        else if(sortType == "priceDesc"){
            MAIN.set("sortPrice", true);
            MAIN.set("priceDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPlace", false);
            periodic_receive();
        }
        else if(sortType == "priceAsc"){
            MAIN.set("priceDesc", false);
            periodic_receive();
        }

    });
    MAIN.on("deleteListing", function(e) {
        var key = $(e.node).data("iden");
        deleteCat(key);
        periodic_receive();
    });
});

</script>
</body>