{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div id="target"></div>

<script id="template" type="text/ractive">
    {% #if isProfile === "1" %}
        <p style="font-size: 300%;">Your Profile</p>
        <p> Email: {% prof_email %}</p>
        <br>
        <p>Your Listings  {{=A('Add New Listing', _class = 'btn btn-success',_href=URL('default','add_cat'))}}</p>
    {% else %}
        <p style="font-size: 300%;">{% first_name %}'s Profile</p>
        <p> Email: {% prof_email %}</p>
        <br>
        <p>{% first_name %}'s Listings</p>
    {% /if %}
    <p></p>
    <div class="myListings">
        <table style="width:100%" frame = "box">
        <tr>
            {% #if sortFrom == true %}
                {% #if fromDesc == true %}
                    <th>From <button class = "myButton" data-iden="fromAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if fromDesc == false %}
                    <th>From <button class = "myButton" data-iden="fromDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortFrom == false %}
                <th>From <button class = "myButton" data-iden="fromDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortName == true %}
                {% #if nameDesc == true %}
                    <th>Name <button class = "myButton" data-iden="nameAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if nameDesc == false %}
                    <th>Name <button class = "myButton" data-iden="nameDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortName == false %}
                <th>Name <button class = "myButton" data-iden="nameDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortBreed == true %}
                {% #if breedDesc == true %}
                    <th>Breed <button class = "myButton" data-iden="breedAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if breedDesc == false %}
                    <th>Breed <button class = "myButton" data-iden="breedDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortBreed == false %}
                <th>Breed <button class = "myButton" data-iden="breedDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortPlace == true %}
                {% #if placeDesc == true %}
                    <th>Place <button class = "myButton" data-iden="placeAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if placeDesc == false %}
                    <th>Place <button class = "myButton" data-iden="placeDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortPlace == false %}
                <th>Place <button class = "myButton" data-iden="placeDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortAge == true %}
                {% #if ageDesc == true %}
                    <th>Age <button class = "myButton" data-iden="ageAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if ageDesc == false %}
                    <th>Age <button class = "myButton" data-iden="ageDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortAge == false %}
                <th>Age <button class = "myButton" data-iden="ageDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            {% #if sortPrice == true %}
                {% #if priceDesc == true %}
                    <th>Price <button class = "myButton" data-iden="priceAsc" on-click = "sortByHandle"><i class="fa fa-sort-desc"></i></button></th>
                {% /if %}
                {% #if priceDesc == false %}
                    <th>Price <button class = "myButton" data-iden="priceDesc" on-click = "sortByHandle"><i class="fa fa-sort-asc"></i></button></th>
                {% /if %}
            {% /if %}
            {% #if sortPrice == false %}
                <th>Price <button class = "myButton" data-iden="priceDesc" on-click = "sortByHandle"><i class="fa fa-sort"></i></button></th>
            {% /if %}
            <th></th>
        </tr>
        {% #cat_List:cat_id %}
            <tr>
                <td bgcolor="white">
                    <p>{% Created_On %} <img src="{{=URL('default', 'download')}}/{% Image %}" height="60" width="60"/></p>
                </td>
                <td bgcolor="white">
                    <p>{% Name %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Breed %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Place %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Age %}</p>
                </td>
                <td bgcolor="white">
                    <p>{% Price %}</p>
                </td>
                <td bgcolor="white">
                    <a href="{{=URL('default', 'cat_details')}}/{%loc%}">View More Details</a>
                    {% #if isProfile === '1' %}
                        <a href="{{=URL('default', 'cat_edit')}}/{%loc%}"><i class="fa fa-pencil"></i></a>
                        <button data-iden="{% loc %}" on-click = "deleteListing"><i class="fa fa-trash-o"></i></button>
                    {% /if %}
                </td>
            </tr>
        {% /cat_List %}
        </table>
        <br>
        {% #if isProfile === "1" %}
            <p>Your Ratings</p>
        {% else %}
            <p>{% first_name %}'s Ratings</p>
        {% /if %}
        {% #if loggedIn === "True" %}
            {% #if isProfile === "0" %}
                <br>
                <b>Your Review</b><br><br>
                <p>
                <textarea value = "{% userReview %}"></textarea><br>
                {% #if thumbStatus === -1 %}
                    <button data-iden="up" on-click="thumbHandle"><i class="fa fa-thumbs-o-up"></i></button>
                    <button data-iden="down" on-click="thumbHandle"><i class="fa fa-thumbs-o-down"></i></button>
                {% /if %}
                {% #if thumbStatus === 0 %}
                    <button data-iden="up" on-click="thumbHandle"><i class="fa fa-thumbs-o-up"></i></button>
                    <button data-iden="down" on-click="thumbHandle"><i class="fa fa-thumbs-down"></i></button>
                {% /if %}
                {% #if thumbStatus === 1 %}
                    <button data-iden="up" on-click="thumbHandle"><i class="fa fa-thumbs-up"></i></button>
                    <button data-iden="down" on-click="thumbHandle"><i class="fa fa-thumbs-o-down"></i></button>
                {% /if %}
                <br><br>
                <input class="btn btn-primary" type="submit" value="Add/Update Review" on-click="sendReview"/>
                </p>
                <br>
                <b>Other Reviews</b>
            {% /if %}

        {% /if %}
        {% #ratings_List:rating_id %}
            <br>
            {% #if rating === "1" %}
                <p>{% reviewer_name %} {% description %} <i class="fa fa-thumbs-up"></i></p>
            {% else %}
                <p>{% reviewer_name %} {% description %} <i class="fa fa-thumbs-down"></i></p>
            {% /if %}
            <br>
        {% /ratings_List %}

    </div>

</script>

<script>
$(function() {
    // Ractive object
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            cat_List: [],
            ratings_List: [],
            mytext: 'Enter Cat Name',
            loggedIn: "{{=loggedIn}}",
            user_id: "{{=user_id}}",
            first_name: "{{=first_name}}",
            prof_email: "{{=prof_email}}",
            loggedInId: "{{=loggedInId}}",
            isProfile: "{{=isProfile}}",
            loggedInName: "{{=loggedInName}}",
            thumbStatus: -1,
            oldCatName: "",
            editingKey: -1,
            stateSelected: "All States",
            breedSelected: "All Breeds",
            ageSelected: "All Ages",
            priceSelected: "All Prices",
            userReview: "",
            sortFrom: true,
            fromDesc: true,
            sortName: false,
            nameDesc: false,
            sortBreed: false,
            breedDesc: false,
            sortPlace: false,
            placeDesc: false,
            sortAge: false,
            ageDesc: false,
            sortPrice: false,
            priceDesc: false
        },
    });

    function periodic_receive() {
        $.ajax("{{=URL('default', 'user_cats', user_signature=True)}}",
                {
                    data:{
                        user_num: MAIN.get("user_id")

                    },
                    method: 'POST',
                    success: function (data) {
                        var oldRow = -1;
                        if (MAIN.get("editingKey") != -1) {
                            oldRow = MAIN.get("cat_dict")[MAIN.get("editingKey")];
                        }
                        var cat_dict = data['cat_dict'];
                        cat_List = [];
                        for (var key in cat_dict) {
                            if (cat_dict[key]["Human"] == MAIN.get('user_id')) {
                                cat_dict[key]["editable"] = true;
                            }
                            else {
                                cat_dict[key]["editable"] = false;
                            }
                            cat_dict[key]["ident"] = cat_dict[key]["draft_id"];
                            cat_dict[key]["loc"] = key;
                            cat_List.push(cat_dict[key]);
                        }

                        if((MAIN.get("sortFrom")==true) && (MAIN.get("fromDesc")== true)) {
                            cat_List.reverse();
                        }
                        else if((MAIN.get("sortFrom")==true) && (MAIN.get("fromDesc")== false)) {

                        }
                        else if((MAIN.get("sortName")==true) && (MAIN.get("nameDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Name.toLowerCase() > b.Name.toLowerCase()) {
                                    return -1;
                                }
                                if (a.Name.toLowerCase() < b.Name.toLowerCase()) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortName")==true) && (MAIN.get("nameDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Name.toLowerCase() < b.Name.toLowerCase()) {
                                    return -1;
                                }
                                if (a.Name.toLowerCase() > b.Name.toLowerCase()) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortBreed")==true) && (MAIN.get("breedDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Breed > b.Breed) {
                                    return -1;
                                }
                                if (a.Breed < b.Breed) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortBreed")==true) && (MAIN.get("breedDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Breed < b.Breed) {
                                    return -1;
                                }
                                if (a.Breed > b.Breed) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPlace")==true) && (MAIN.get("placeDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Place > b.Place) {
                                    return -1;
                                }
                                if (a.Place < b.Place) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPlace")==true) && (MAIN.get("placeDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Place < b.Place) {
                                    return -1;
                                }
                                if (a.Place > b.Place) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortAge")==true) && (MAIN.get("ageDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if(a.Age == "less than 1"){
                                    return 1;
                                }
                                if(b.Age == "less than 1"){
                                    return -1;
                                }
                                if (a.Age > b.Age) {
                                    return -1;
                                }
                                if (a.Age < b.Age) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortAge")==true) && (MAIN.get("ageDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if(a.Age == "less than 1"){
                                    return -1;
                                }
                                if(b.Age == "less than 1"){
                                    return 1;
                                }
                                if (a.Age < b.Age) {
                                    return -1;
                                }
                                if (a.Age > b.Age) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPrice")==true) && (MAIN.get("priceDesc")== true)) {
                            cat_List.sort(function (a, b) {
                                if (a.Price > b.Price) {
                                    return -1;
                                }
                                if (a.Price < b.Price) {
                                    return 1;
                                }
                                return 0;
                            });
                        }
                        else if((MAIN.get("sortPrice")==true) && (MAIN.get("priceDesc")== false)) {
                            cat_List.sort(function (a, b) {
                                if (a.Price < b.Price) {
                                    return -1;
                                }
                                if (a.Price > b.Price) {
                                    return 1;
                                }
                                return 0;
                            });
                        }

                        MAIN.set('cat_List', cat_List);
                    }
                }
        );
    }
    function deleteCat(key) {
    $.ajax("{{=URL('default', 'deleteCat', user_signature=True)}}",
            {
              data: {
                key: key,
              },
              method: 'POST',
              success: function() {
                // Reflect in the list of drafts or messages the update sent to the server.
                  periodic_receive();
              },
              error: function() {
                  $.web2py.flash("cat deletion failure");
              }
            }
        );
    }
    function periodic_receive_ratings() {
        $.ajax("{{=URL('default', 'profile_ratings', user_signature=True)}}",
                {
                    data: {
                        user_num: MAIN.get("user_id")

                    },
                    method: 'POST',
                    success: function (data) {
                        var rating_dict = data['rating_dict'];
                        var tempList = [];
                        for (var key in rating_dict) {
                            if (rating_dict[key]["reviewer_profile"] == MAIN.get("loggedInId")) {
                                MAIN.set("thumbStatus", parseInt(rating_dict[key]["rating"]));
                                MAIN.set("userReview", rating_dict[key]["description"]);
                                delete rating_dict[key];
                            }
                            else {
                                tempList.push(rating_dict[key]);
                            }

                        }

                        tempList.sort(function (a, b) {
                            if (a.updated_on > b.updated_on) {
                                return -1;
                            }
                            if (a.updated_on < b.updated_on) {
                                return 1;
                            }
                            return 0;
                        });
                        MAIN.set("ratings_List", tempList);
                    }
                }
        );
    }
    periodic_receive_ratings();
    function updateReview() {
        $.ajax("{{=URL('default', 'updateReview', user_signature=True)}}",
                {
                    data: {
                        user_id: MAIN.get("user_id"),
                        loggedInId: MAIN.get("loggedInId"),
                        rating: MAIN.get("thumbStatus"),
                        description: MAIN.get("userReview"),
                        reviewer_name: MAIN.get("loggedInName")
                    },
                    method: 'POST',
                    success: function (data) {
                        $.web2py.flash("review inputted");
                    }
                }
        );
    }
    periodic_receive();
    setInterval(periodic_receive, 10000);
    MAIN.on("filterResults", function(e) {
        MAIN.set("breedSelected",document.getElementById("breedSelect").value);
        MAIN.set("stateSelected",document.getElementById("stateSelect").value);
        MAIN.set("ageSelected",document.getElementById("ageSelect").value);
        MAIN.set("priceSelected",document.getElementById("priceSelect").value);
        periodic_receive();
    });
    MAIN.on("sortByHandle", function(e) {
        var sortType = $(e.node).data("iden");
        if(sortType == "fromAsc"){
            MAIN.set("fromDesc", false);
            periodic_receive();
        }
        else if(sortType == "fromDesc"){
            MAIN.set("sortFrom", true);
            MAIN.set("fromDesc", true);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortPlace", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "nameDesc"){
            MAIN.set("sortName", true);
            MAIN.set("nameDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortPlace", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "nameAsc"){
            MAIN.set("nameDesc", false);
            periodic_receive();
        }
        else if(sortType == "breedDesc"){
            MAIN.set("sortBreed", true);
            MAIN.set("breedDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortPlace", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "breedAsc"){
            MAIN.set("breedDesc", false);
            periodic_receive();
        }
        else if(sortType == "placeDesc"){
            MAIN.set("sortPlace", true);
            MAIN.set("placeDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPrice", false);
            periodic_receive();
        }
        else if(sortType == "placeAsc"){
            MAIN.set("placeDesc", false);
            periodic_receive();
        }
        else if(sortType == "ageDesc"){
            MAIN.set("sortAge", true);
            MAIN.set("ageDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortPrice", false);
            MAIN.set("sortPlace", false);
            periodic_receive();
        }
        else if(sortType == "ageAsc"){
            MAIN.set("ageDesc", false);
            periodic_receive();
        }
        else if(sortType == "priceDesc"){
            MAIN.set("sortPrice", true);
            MAIN.set("priceDesc", true);
            MAIN.set("sortFrom", false);
            MAIN.set("sortName", false);
            MAIN.set("sortBreed", false);
            MAIN.set("sortAge", false);
            MAIN.set("sortPlace", false);
            periodic_receive();
        }
        else if(sortType == "priceAsc"){
            MAIN.set("priceDesc", false);
            periodic_receive();
        }

    });

    MAIN.on("thumbHandle", function(e) {
        var thumbClicked = $(e.node).data("iden");
        if(thumbClicked == "up" && MAIN.get("thumbStatus") == 0){
            MAIN.set("thumbStatus", 1);
        }
        else if(thumbClicked == "down" && MAIN.get("thumbStatus") == 1){
            MAIN.set("thumbStatus", 0);
        }
        else if(MAIN.get("thumbStatus") == -1){
            if(thumbClicked=="up")
                MAIN.set("thumbStatus", 1);
            else
                MAIN.set("thumbStatus", 0);
        }

    });
    MAIN.on("sendReview", function(e){
        if (MAIN.get("thumbStatus") == -1)
            alert("Must Choose a Rating");
        else if (MAIN.get("userReview").length == 0)
            alert("Must Enter a Review");
        else
            updateReview();
    });
});

</script>