.main_login{
    margin-top: -60px;
    margin-bottom: 0px;
}

div p{
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-shadow: 1px 1px 2px black,0 0 25px black, 0 0 5px darkblue;
}

div img{
    margin-bottom: 40px;
}
/*Style of the features below the map*/
.Ratings .row .col-md-4 .thumbnail p{
    color: $clrtextblue;
    text-align: center;
    text-transform: uppercase;
    font-family: Monospace;
    font-size:35px;
}

.colorful {
  color: $clrHilight;
}


div.catList{
    background: linear-gradient(white, whitesmoke);
    border: 2px solid;
    margin-top: 50px;
    margin-right: 30px;
    padding: 20px;
    width: 200px;
    margin-outside: 50px;
    display: inline-block;
    @include border-radius(10px);
    font-family: Arial;
    list-style-type: none;
    .boardName {
      font-size: x-large;
    }
    padding-left: 5px;

}
textarea.noEdit{
    background: linear-gradient(white, whitesmoke);
    resize: none;
    border: none;
    outline: none;
}
p.displayCat{
    height:100px;
    width: 50px;

}
button.myButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
button.redButton{
    background-color: red;
    border: black;
}
.black{
    color: black;
}
.orange{
    color: orange;
}